@import 'leaflet/dist/leaflet.css';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset para garantir tela cheia sem barras brancas */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}